<div class="row">
  <div class="col-md-4">
    <h3> New users </h3>
    <div id="chart_new_users"></div>
  </div>
  <div class="col-md-4">
    <h3> Latest orders </h3>
  </div>
  <div class="col-md-4">
    <h3> Latest products ordered </h3>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h3> Total cash this week </h3>
    <div id="chart_total_cash"></div>
  </div>
  <div class="col-md-4">
    <h3> Other </h3>
    <div id="test_chart"></div>
  </div>
  <div class="col-md-4">
    <h3> Top Products </h3>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h3> Other </h3>
  </div>
  <div class="col-md-4">
    <h3> Other </h3>
  </div>
  <div class="col-md-4">
    <h3> Other </h3>
  </div>
</div>
