<div class="row">
  <div class="col-md-4">
    <h3> Users </h3>
    <%= line_chart User.group_by_day(:created_at).count %>
  </div>
  <div class="col-md-4">
    <h3> Orders </h3>
  </div>
  <div class="col-md-4">
    <h3> Latest products ordered </h3>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h3> Orders per day </h3>
    <%= column_chart Order.group_by_week(:created_at).count %>
  </div>
  <div class="col-md-4">
    <h3> Orders by partner </h3>
    <%= pie_chart Order.all.group(:partner).count %>
  </div>
  <div class="col-md-4">
    <h3> Top Products </h3>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h3> Other </h3>
  </div>
  <div class="col-md-4">
    <h3> Other </h3>
  </div>
  <div class="col-md-4">
    <h3> Other </h3>
  </div>
</div>
